header {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  font-weight: bold;
  background-color: ;
  opacity: ;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 6px;
}

nav {
  text-align: center;
  margin-top: 10px;
}

.displayed {
  margin: auto;
  max-width: 70%;
  font-family: 'Merriweather', serif;
  font-size: 8px;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}


table {
  margin-top: 5px;
  padding-botton: 5px;
}



body {
  font-family: 'Merriweather', serif;
  margin-right: 6%;
  margin-left: 6%;
  font-size: 12px;
}


embed {
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 800px) {
  header {
    font-size: 40px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    font-size: 30px;
  }
}

@media only screen and (max-width: 800px) {
  button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {
  button {
    font-size: 10px;
    margin-left: 4px;
    margin-right: 5px;
  }
}



/* PEN STYLES ========== */


.test_box {
	padding: 0;
}
.test_box .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;

}
.test_box .inner .test_click:hover {
	background-color: #030F21;
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 auto;
  text-align: center;
  color: black;
  border: 2px solid black;
  display: inline-block;
  padding: 10px 30px;
  color: black;
  text-align: center;
  position: relative;
  background-color: rgba(75,74,74,.3)
}


.box-01 .inner {
	background-image: url('https://i.redd.it/rxf39luwlo421.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
  background-color: #FFFFFF;
    width: 45%;
  float: left;
  text-align: center;
}
.box-02 .inner {
	background-image: url('https://cdn.vox-cdn.com/thumbor/0i0BewctEhQp_OngzZLmU1HJJ6s=/0x0:1920x1080/1200x675/filters:focal(807x387:1113x693)/cdn.vox-cdn.com/uploads/chorus_image/image/61119625/SenateBattlefield.0.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
    width: 45%;
  float: left;
  align-content: center;
}
.box-03 .inner {
	background-image: url('https://pixel.nymag.com/imgs/daily/intelligencer/2017/10/26/2018-elections/governors-lede-large-01.nocrop.w1024.h2147483647.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
  background-color: #FFFFFF;
  width: 45%;
  float: left;
  align-content: center;
}

.box-04 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1073');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
    width: 45%;
    float: left;
    align-content: center;
}

.row {
text-align: center;
position: relative;
margin: 0;
padding: 0;

}

center {
 margin-top: 20px;
 font-size: 13px;

}
